<section class="giveaway-banner" style="background-color: white;">
    <img width="100%"  src="{{ 'giveaway__banner.webp' |  asset_url }}" alt="">
</section>


{% schema %}
{
    "name": "Giveaway Banner",
    "settings": [
        
        ],
        "presets": [
            {
                "name": "Giveaway Banner"
            }
        ]

}
{% endschema %}