<section class="hero">
  <div class="hero__container" style="">
    <img style="width: 100%; margin-bottom: -1rem" src="{{ section.settings.banner_image |  image_url }}" alt="">

    {% comment %}
      <div style="text-align: center;">
          <img style="width: 90%; padding-top: 6rem" src="{{ 'hero_section_title.webp' |  asset_url }}" alt="">
      </div>
      <div class="hero__container__giveaway_price" style="display: flex; justify-content: space-between">
          <h3 style="-webkit-text-stroke-width: 1px; -webkit-text-stroke-color: white;color:red; font-size: 7rem; padding-left: 4rem ">100K <br/>Giveaway</h3>
          <h3 style="-webkit-text-stroke-width: 1px; -webkit-text-stroke-color: white;color:red; font-size: 7rem; padding-right: 2rem ">100K <br/>Giveaway</h3>
      </div>
    {% endcomment %}
  </div>
</section>

{% schema %}
{
  "name": "Hero Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    }
  ],
  "presets": [
    {
      "name": "Hero Section"
    }
  ]
}
{% endschema %}
