<section class="insta-posts">
    <div class="insta-posts__container">

    </div>
</section>
{% schema %}
{
    "name": "Insta Posts Slider",
    "settings": [
        
        ],
        "presets": [
            {
                "name": "Insta Posts Slider"
            }
        ]
}
{% endschema %}