<div class="offer" style="">
    <img style="background-color: white; width:100%;" src="{{ 'orange_county_chopper_text.webp' | asset_url }}" alt="" >
    <div class="offer__container" style="background-image: url('https://cdn.shopify.com/s/files/1/0778/9248/5393/files/Group_150653.png?v=1718901139'); background-repeat: no-repeat; background-size: cover;">
        <div class="offer__container__left">
            <p style="color: white; font-size: 2rem; margin:0">Become part of the crew</p>
            <p style="font-size: 5.5rem; font-weight: 600;color:white" class="offer__container__left__winning-amount">Win <span style="font-weight: 500;color: #CB2027;-webkit-text-stroke-width: 1px; -webkit-text-stroke-color: white;">$100,000</span></p>
            <a style="background-color: #CB2027;text-decoration: none; color: white; padding: 1rem 1.5rem;" href="" class="offer__container__left__button">SHOP STORE, EARN ENTRIES</a>
        </div>
        <div class="offer__container__center" style="display: flex; align-items: center; justify-content: center; position: relative;">
            <img style="height: 220%; position: absolute; z-index: 1;" src="https://cdn.shopify.com/s/files/1/0778/9248/5393/files/11_1.png?v=1718900447" alt="">
        </div>
        <div class="offer__container__right">

        </div>
    </div>
</div>
{% schema %}
{
    "name": "Offer Section",
    "settings": [
        
        ],
        "presets": [
            {
                "name": "Offer Section"
            }
        ]
}
{% endschema %}