<div id="steps" class="steps" style="background-image: url({{ section.settings.section_background_image |  image_url  }});">
    <div class="steps__container">
        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'step' %}
                    <div class="steps__container__step">
                        <img class="steps__container__step__logo" src="{{ block.settings.icon |  image_url  }}"/>
                        <h3 class="steps__container__step__title">{{ block.settings.title }}</h3>
                        <p class="steps__container__step__description">{{ block.settings.text }}</p>
                    </div>
            {% endcase %}
          {% endfor %}

    </div>
</div>
{% schema %}
    {
      "name": "Steps Section",
      "settings": [
        {
            "type": "image_picker",
            "id": "section_background_image",
            "label": "Section BG Image"
        }
      ],
      "blocks": [
        {
          "type": "step",
          "name": "Block",
          "settings": [
            {
              "type": "image_picker",
              "id": "icon",
              "label": "Icon"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Title"
            },
            {
              "type": "textarea",
              "id": "text",
              "label": "Text"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Steps Section",
          "category": "Custom"
        }
      ]
    }
    {% endschema %}
    