.new-hero__container__image__2 {
    width: 100%;
    height: 100%;
}


.new-hero__container {
    width: 95%;
    margin: 0 auto;
}


.new-hero__container__award__content {
    display: grid;
    /* grid-template-columns: 55% 45%; */
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 0;
    column-gap: 3rem;

}

.new-hero__container__award__content__text {
    padding-top: 6rem;
}

.new-hero__container__award__content__text>h2 {
    color: #CD2027;
    font-weight: 700;
    font-size: 16rem;
    padding: 1rem 0;
}

.new-hero__container__award__content__text>h4 {
    font-size: 5rem;
    padding-bottom: 4rem;
    line-height: 65px;
}

.new-hero__container__award__button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    background-color: #CD2027;
    padding: 1rem;
    text-decoration: none;
    color: white;
    border-radius: 0.3rem;
    font-family: 'Oswald', sans-serif;
    width: 75%;
    margin-left: 5%;
}

.new-hero__container__steps {
    display: grid;
    grid-template-columns: 4fr 6fr 2fr;
    column-gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.new-hero__container__steps__title {
    font-size: 6.5rem;
}

.new-hero__container__steps__dotted-line {
    display: block !important;
    height: 1px;
    width: 100%;
    border-top: 5px dotted #CD2027;
    padding-right: 2rem;
}

.new-hero__container__steps__easiness {
    font-size: 2.5rem;
}


.new-hero__container__steps-cards {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;

}

.new-hero__container__steps-cards__card {
    background-color: #0D0D0D;
    border: 1px solid #212121;
    padding: 2rem;

}

.new-hero__container__steps-cards__card>p {
    padding-top: 1rem;
    line-height: 1.4;
}

.new-hero__container__steps-cards__card>img {
    width: 5rem;
}

.new-hero__container__steps-cards__card>p {
    color: white;
    font-size: 2rem;
}

.new-hero__container__image {
    position: relative;
    display: flex;
    align-items: center;
    transform: translateY(25%);
    height: 100%;
}

.new-hero__container__image__second-layer,
.new-hero__container__image__third-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.new-hero__container__image__second-layer {
    width: 90%;
    /* height: 90%; */
}

.new-hero__container__image__third-layer {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -75%);
}

@media screen and (max-width: 1050px) {
    .new-hero__container {
        width: 95%;
        margin: 0 auto;
    }

    .new-hero__container__award__content__text>h2 {
        color: #CD2027;
        font-size: 10rem;
        padding: 1rem 0;
    }

    .new-hero__container__award__content__text>h4 {
        font-size: 3rem;
        padding-bottom: 4rem;
    }

    .new-hero__container__steps__title {
        font-size: 4rem;
    }

    .new-hero__container__steps-cards__card>p {
        color: white;
        font-size: 1.6rem;
    }

}

@media screen and (max-width: 850px) {
    .new-hero__container__award__content__text>h2 {
        color: #CD2027;
        font-size: 8rem;
        padding: 1rem 0;
    }

    .new-hero__container__award__content__text>h4 {
        font-size: 2.5rem;
        padding-bottom: 4rem;
    }

    .new-hero__container__steps__title {
        font-size: 3rem;
    }

    .new-hero__container__steps__title {
        font-size: 3.5rem;
    }

    .new-hero__container__image__second-layer {
        width: 90%;
    }

    .new-hero__container__steps-cards__card>h3 {
        font-size: 2rem;
    }


}

@media screen and (max-width: 670px) {
    .new-hero__container__steps-cards {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1.5rem;

    }

    .new-hero__container__award__content__text>h2 {
        color: #CD2027;
        font-size: 6rem;
        padding: 1rem 0;
    }

    .new-hero__container__award__content__text>h4 {
        font-size: 2rem;
        padding-bottom: 4rem;
    }

    .new-hero__container__steps__title {
        font-size: 2.5rem;
    }

    .new-hero__container__steps__easiness {
        font-size: 1.6rem;
    }

}

@media screen and (max-width: 500px) {
    .new-hero__container__award__content {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3rem;

    }

    .new-hero__container__image {
        height: 30vh;
    }

    .new-hero__container__steps__easiness {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1360px) {

    .new-hero__container__award__content__text>h2 {
        font-size: 14rem;
    }

    .new-hero__container__award__content__text>h4 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 1250px) {
    .new-hero__container__award__content__text>h2 {
        font-size: 13rem;
    }

    .new-hero__container__award__content__text>h4 {
        font-size: 3.8rem;
    }
}

@media screen and (max-width: 1200px) {
    .new-hero__container__award__content__text>h2 {
        font-size: 11rem;
    }

    .new-hero__container__award__content__text>h4 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 980px) {
    .new-hero__container__award__content__text>h2 {
        font-size: 10rem;
    }

    .new-hero__container__award__content__text>h4 {
        font-size: 3.1rem;
    }
}

@media screen and (max-width: 870px) {
    .new-hero__container__award__content__text>h2 {
        font-size: 9rem;
    }

    .new-hero__container__award__content__text>h4 {
        font-size: 2.8rem;
    }

    .new-hero__container__award__button {
        font-size: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .new-hero__container__award__content__text>h2 {
        font-size: 7.5rem;
    }

    .new-hero__container__award__content__text>h4 {
        font-size: 2.5rem;
    }

    .new-hero__container__award__button {
        font-size: 2rem;
    }
}