<section class="product-slider">
    <div class="product-slider__container"></div>
</section>
{% schema %}
{
  "name": "Product Slider",
  "settings": [],
  "presets": [
    {
      "name": "Product Slider"
    }
  ]
}
{% endschema %}
