.steps{
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    
}
.steps__container{
    width: 80%;
    padding: 10rem 0;
    margin: 0 auto;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-between;
}
.steps__container__step{
    color: black;
    text-align: center;
}

.steps__container__step__logo{
    background-color: red;
    padding: 1rem;
    border-radius: 3rem;
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}

.steps__container__step__title, 
.steps__container__step__description{
    color: black;
    margin: 0;
}