.video-section{
    box-sizing: border-box;
    margin: 0;
}

.video-section__container{
    display: grid;
    grid-template-columns: 45% 55%;

}
.video-section__container__text__title{
    color: #CB2027;
    font-size: 4.5rem;
    padding-top: 3rem;
    margin: 0;
}

.video-section__container__text__bullet-points__point__img{
    width: 5rem;
}

.video-section__container__text{
    padding: 3rem;
}
.video-section__container__video{
    background-size: cover;
    background-position: center;
}

.video-section__container__text__bullet-points__point {
    display: flex;
    align-items: center;
    padding: 2rem 0;
}
.video-section__container__text__bullet-points__point__img {
    margin-right: 2rem;
}
.video-section__container__text__bullet-points__point__text > h4, .video-section__container__text__bullet-points__point__text > p{
    margin: 0;
    color: black;
}
@media screen and (max-width: 720px) {
    .video-section__container{
        display: flex;
        flex-direction: column;
    }
    .video-section__container__video{
        height: 50vh;
    }
}